*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1113px;
    margin: 0 auto;
    padding: 0 5px;
}
.header_block {
    background: url(../img/top-bg.jpg) top center no-repeat;
    background-size: cover;
    width: 100%;
}
.header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.364);
}
nav.nav {
    padding: 26px 0;
    width: 50%;
}
a.menu_link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: .3s all step-start;
}
a.menu_link:hover{
    padding-bottom: 25px;
    border-bottom: 2px solid #fff;
    opacity: .8;
}
.nav ul li {
    display: inline-block;
    margin-right: 10px;
}
.nav ul li:last-child {
    margin-right: 0;
}
.main__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 830px;
}
.main__banner_title {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.main__banner_text {
    font-size: 48px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    max-width: 800px;
    text-align: center;
    line-height: 64px;
    margin: 15px 0px 35px 0;
}
.main__banner_button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    width: 200px;
    background-color: #4985FF;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: .3s all ease;
}
.main__banner_button:hover {
    background-color: #5990ff;
}
section.section_1 {
    padding-top: 110px;
}
.section_1_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #323232;
    max-width: 739px;
    margin: 0 auto;
}
.section_1_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    max-width: 730px;
    margin: 50px auto 70px;
    line-height: 25.36px;
    text-align: center;
}